<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/style.css') }}>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

	<title>ChefAI</title>
</head>
<body style="background-color: #0c0f14;">
	<!-- Navigation Bar -->
	<div id="nav">
		<ul>
			<li><a href="/ingredients" style="padding-top: 6px; padding-bottom: 18px;"><img src="{{ url_for('static',filename='images/logo.png') }}" width="100px"></a></li>
			<li><a href="/allrecipes/1">All Recipes</a></li>
			<li><a href="/team">Team</a></li>
			<li style="float: right; padding: 14px 15px;">Welcome Guest!</li>
		</ul>
	</div>
	<!-- Navigation Bar-->
	<div class="container">
		<br>
		<a href="#" class="next btn btn-default" style="margin-left: 25px; float: right;">Next</a>
		<a href="#" class="prev btn btn-default" style="margin-left: 25px; float: right;">Prev</a>
		<br>
		<br>
		<br>
		<ol class="list" style="color: #d5dfef; font-family: 'Roboto', sans-serif;">
			{% for i in value['directions'] %}
			<li style="display: none; font-size: 1.5em; padding-bottom: 10px;"> {{ i }} </li>
			{% endfor %}
			<li style="display: none; font-size: 1.5em; padding-bottom: 10px;"> Ready! </li>
		</ol>
	</div>
	<script>
		$('ol.list li:eq(0)').fadeIn("slow");
		var cnt = 0;
		$('.next').click(function() {
			var n = $( 'ol li' ).length;
			console.log(n)
			if(cnt == n - 1){
				return;
			}
			cnt = cnt + 1;
			console.log(cnt);
    		$('ol.list li:eq('+cnt+')').fadeIn("slow");
		});
		$('.prev').click(function() {
			if(cnt == 0){
				return
			}
    		$('ol.list li:eq('+cnt+')').fadeOut("slow");
    		cnt = cnt - 1;
		});
	</script>
</body>
</html>