<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="../static/css/login_style.css">
	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="147918694056-1nqf8gt3fi3t1l63fkkqdabtf1mcodgm.apps.googleusercontent.com">
  <script>
    function onSignIn(googleUser) {
     var profile = googleUser.getBasicProfile();
  			console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  			console.log('Name: ' + profile.getName());
  			console.log('Image URL: ' + profile.getImageUrl());
  			console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/ingredients');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
        console.log("aagaya bhai")
      }
    </script>
    <title>ChefAI</title>
  </head>
  <body>
    <!--
    <div class="center log-in-div">
      <h1 style="text-align: center;">Login</h1>
      <div style="text-align: center;">
        <a href="/ingredients"><button type="submit" class="btn btn-default">Log in as Guest</button></a>
      </div>
      
      <div class="center">
      <div class="g-signin2 center" data-onsuccess="onSignIn" style="margin: auto; width: 100%;"></div>
   </div>
 -->
 <div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <img src="../static/images/logo.png" width="200px" style="margin-bottom: 30px;">
      <div class="g-signin2 button" data-onsuccess="onSignIn" style="width: 270px; height: 50px; margin-bottom: 15px;"></div>
      <a href="/ingredients"><div class="log-in-btn"> Log in </div></a>

    </form>
  </div>
</div>
</body>
</html>