<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/style.css') }}>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<meta name="google-signin-client_id" content="339501366292-490ah4i6iib1j41b1skc878vib70nd0t.apps.googleusercontent.com">

	<title>ChefAI</title>
	<script>
  function signOut() {
  	console.log("aaya")
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
      window.location = "/logout";
    });
  }
  function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
</script>
</head>
<body>
	<!-- Navigation Bar -->
	<div id="nav">
		<ul>
			<li><a href="/ingredients" style="padding-top: 6px; padding-bottom: 18px;"><img src="{{ url_for('static',filename='images/logo.png') }}" width="100px"></a></li>
			<li><a href="/allrecipes/1">All Recipes</a></li>
			<li><a href="/team">Team</a></li>
			<li style="float: right;"><a href="#" onclick="signOut();">Sign out</a></li>
			<li style="float: right; padding: 14px 15px;">Welcome {{ name }}!</li>
		</ul>
	</div>
	<!-- Navigation Bar-->
	<div class="container">
		{% if newrecipe == True %}
			{% if error == True%}
				<div class="panel panel-danger" style="margin-top: 20px;">
      				<div class="panel-heading">Error!</div>
     				 <div class="panel-body">No Recipe found.</div>
    			</div>
			{% else %}
			<div class="panel panel-info" style="margin-top: 15px;">
      			<div class="panel-heading">Ingredients chosen: 
      			{% for i in range(list_len)%}
      			{% if i != list_len - 1 %}
      			{{list_1[i] + ", "}}
      			{% else %}
      			{{list_1[i]}}
      			{% endif %}
      			{% endfor %}
      			</div>
     			 <div class="panel-body">Ingredients included in recipe:
     			{% for i in range(include_len)%}
      			{% if i != include_len - 1 %}
      			{{include_list[i] + ", "}}
      			{% else %}
      			{{include_list[i]}}
      			{% endif %}
      			{% endfor %}
     			</div>
   			</div>
			{% endif %}
		{% endif %}
		{% if error != True %}
		<div class="page-header">
			<h3 class="slab">{{ value['title'] }}</h3>
		</div>
		<img src="{{ search }}" style="width: 500px; height: auto;" class="center-img"></img>
		<h4 class="slab page-header">Ingredients</h4>
		<ul class="open-sans">
			{% for i in value['ingredients'] %}
			<li>{{ i }}</li>
			{% endfor %}
		</ul>
		<h4 class="slab page-header">Directions</h4>
		<ol class="open-sans">
			{% for i in value['directions'] %}
			<li> {{ i }} </li>	
			{% endfor %}	
		</ol>
		<a href="/cookingmode" class="btn btn-default" style="margin-left: 25px;">Cooking Mode!</a>
		{% if  newrecipe == False or toggle == False%}
		<h4 class="slab page-header">Nutritional Information</h4>
		<ul class="open-sans">
			<li>Fat: {{ value['fat'] }}</li>
			<li>protein: {{ value['protein'] }}</li>
			<li>calories: {{ value['calories'] }}</li>
			<li>sodium: {{ value['sodium'] }}</li>
		</ul>
		<!-- Place this tag where you want the share button to render. -->

		<!-- Place this tag after the last share tag. -->
		<h4 class="slab page-header">Share this Recipe!</h4>
		<!-- AddToAny BEGIN -->
		<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
			<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_twitter"></a>
			<a class="a2a_button_google_plus"></a>
			<a class="a2a_button_email"></a>
			<a class="a2a_button_whatsapp"></a>
		</div>
		<script async src="https://static.addtoany.com/menu/page.js"></script>
		<!-- AddToAny END -->
		<br>
	</div>
	{% else %}
	<div style="margin-bottom: 50px;">
	</div>
	{% endif %}
	{% endif %}
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>
</html>