<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/style.css') }}>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<meta name="google-signin-client_id" content="339501366292-490ah4i6iib1j41b1skc878vib70nd0t.apps.googleusercontent.com">

	<title>ChefAI</title>
	<script>
  function signOut() {
  	console.log("aaya")
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
      window.location = "/logout";
    });
  }
  function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
</script>
</head>
<body>
	<!-- Navigation Bar -->
	<div id="nav">
		<ul>
			<li><a href="/ingredients" style="padding-top: 6px; padding-bottom: 18px;"><img src="{{ url_for('static',filename='images/logo.png') }}" width="100px"></a></li>
			<li><a href="/allrecipes/1">All Recipes</a></li>
			<li><a href="/team">Team</a></li>
			<li style="float: right;"><a href="#" onclick="signOut();">Sign out</a></li>
			<li style="float: right; padding: 14px 15px;">Welcome {{ name }}!</li>
		</ul>
	</div>
	<!-- Navigation Bar-->
	<div class="container">
	<h4 class="slab page-header" style="text-align: center;">Meet the Team!</h4>
	<div class="row">
		<div class="col-md-3">
		<img src="../static/images/ashvin.png" style="border-radius: 100%;" width="210px;"; height="auto">
		<h4 class="slab center">Ashvin Lohiya</h4>
		</div>
		<div class="col-md-3">
			<img src="../static/images/akshat.png" style="border-radius: 100%;" width="210px;"; height="auto">
		<h4 class="slab center">Akshat Goyal</h4>
		</div>
		<div class="col-md-3">
			<img src="../static/images/vineel.jpeg" style="border-radius: 100%;" width="210px;"; height="auto">
		<h4 class="slab center">Vineel Guntupalli</h4>
		</div>
		<div class="col-md-3">
			<img src="../static/images/shreeyan.jpg" style="border-radius: 100%;" width="210px;"; height="auto">
		<h4 class="slab center">Shreeyan Shayan</h4>
		</div>
	</div>
	</div>
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>
</html>